<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TS3ChromaHeadset.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TS3ChromaHeadset.Properties.Settings>
            <setting name="colorPoke" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="colorTextMessage" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="activePoke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activeTextMessage" serializeAs="String">
                <value>False</value>
            </setting>
        </TS3ChromaHeadset.Properties.Settings>
    </userSettings>
</configuration>